@{
    ViewBag.Title = "Opći uvjeti";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="Content/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="Content/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="Content/light-bootstrap-dashboard.css" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="Content/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="Content/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">

        <div class="sidebar" data-color="azure" data-image="Content/img/sidebar-1.jpg" style="background-repeat:repeat; margin-bottom: -99999px; padding-bottom: 99999px; overflow-y: hidden">

            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text" style="font-family:'Georgia'">
                        Rent a car
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                            <p style="font-family:'Georgia'">Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("RezervacijaPretraga", "Home")">
                            <i class="fa fa-list-ul"></i>
                            <p style="font-family:'Georgia'">Rezervacija</p>
                        </a>
                    </li>

                    <li class="active">
                        <a href="@Url.Action("Uvjeti", "Home")">
                            <i class="fa fa-globe"></i>
                            <p style="font-family:'Georgia'">Opći uvjeti</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")">
                            <i class="fa fa-user"></i>
                            <p style="font-family:'Georgia'">Kontakt</p>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Pitanja", "Home")">
                            <i class="fa fa-question"></i>
                            <p style="font-family:'Georgia'">Najčešća pitanja</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="font-family:'Georgia'">Uvjeti</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family:'Georgia'">
                                    Pretraga
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a style="font-family:'Georgia'" href="@Url.Action("Pretraga", "Home")">Pretraga vozila</a></li>
                                    <li><a style="font-family:'Georgia'" href="@Url.Action("RezervacijaPretraga", "Home")">Rezervacija</a></li>
                                    <li class="divider"></li>
                                    <li><a style="font-family:'Georgia'" href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card" style="width:800px">
                            <div class="header">
                                <h4 class="title" style="font-family:Georgia'">Opći uvjeti koje morate ispunjavati</h4>
                            </div>
                            <div class="content">




                                <p style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">

                                    U ovim Općim uvjetima o najmu (a) “CAR” znači RENT A CAR d.o.o. (b) “unajmljivač” znači osoba, tvrtka ili organizacija koja ili u čije ime se vozilo iznajmljuje pod ovim uvjetima o najmu, (c) “vozač” znači fizička osoba odgovorna za poštovanje svih tačaka ugovora o najmu, odobrena i napisana na prednjoj strani Ugovoru o najmu uz “unajmljivača”, (d) “dodatni vozač” znači fizička osoba odgovorna za poštovanje svih tačaka ugovora o najmu, odobrena i napisana na prednjoj strani Ugovoru o najmu uz “unajmljivača”.

                                    “Unajmljivač” se mora pobrinuti da svaki ovlašteni vozač ispunjava Opće uvjete o najmu, (e) “vozilo” znači vozilo navedeno na prednjoj strani Ugovora o najmu. (f) “unajmljivač, vozač i dodatni vozač” u daljnjem tekstu ugovora podrazumijevaju se jednom riječju “korisnik”.
                                </p>
                                <br />


                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia'">1. Ovlašteno upravljanje vozilom</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia'">
                                    Unajmljeno vozilo mogu voziti-osobe starije od 21 godine, koje posjeduju vozačku dozvolu najmanje 2 godine (2 x 365 dana). Zakon o prometu ne dozvoljava iznimke. Pod nikakvim okolnostima unajmljeno vozilo ne smije voziti, ili se istim koristiti:

                                    Unajmljeno vozilo ne smije biti upotrebljavano, prometovati ili biti voženo:

                                    a) od osobe koja nije navedena na najamnom ugovoru;
                                    b) za plaćeni prijevoz putnika i robe;
                                    c) po ugovoru zaključenom na osnovi lažnih izjava npr. starosti,adrese;
                                    d) za bilo koje takmičenje, brzinske probe ili trke;
                                    e) za pogon ili vuču bilo kakvog vozila ili predmeta;
                                    f) pod djelovanjem alkohola, sredstava za smirenje ,narkotika, sredstava za spavanje ili drugih lijekova;
                                    g) kada vozilo nije u voznom stanju ili je preopterećeno prekobrojnim putnicima ili prtljagom;
                                    h) van prometnica I., II. ,III., reda;
                                    i) brzinom većom od dozvoljene – 100km/h za ceste I.reda, 80 km/h na cestama II. I III.reda, 120 km/h po autocestama.
                                    j) kršenjem zakonskih uvjeta i uredbi koje se odnose na korištenje, tovarenje ili stanje vozila ili u bilo kakve ilegalne svrhe
                                    Gornja se ograničenja zbrajaju i svako od njih vrijedi za svaku upotrebu unajmljenog vozila. CAR odbija odgovornost za bilo kakav gubitak ili oštećenje koje bi bilo prouzročeno nepoštivanjem gornjih zabrana.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia'">2. Preuzimanje i vraćanje unajmljenog vozila</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia'">
                                    Jedini ovlašteni za raspolaganje vozilom i iznajmljivanjem istog je “CAR” a “Korisnik” ga preuzima u ispravnom tehničkom stanju. “Korisnik” se obavezuje vratiti vozilo sa svim gumama, alatom i opremom navedenom na Ugovoru o najmu i Check out – check – in obrascu, u istom stanju u kakvom je i preuzeto, izuzev uobičajenog prirodnog trosenja, u tačno vrijeme i na mjesto navedeno na strani 1. Ugovora o najmu. Vozila se iznajmljuju po dnevnoj cijeni u skladu s dogovorenom tarifom, gdje jedan dan znači bilo koji period od 24 sata od početka ugovora o najmu. Poslije isteka tog vremena, naplatit će se dodatni dan.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">3. Plaćanje</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">
                                    Plaćanje računa “Korisnik” se obavezuje podmiriti račun “DŽAS -u” u roku od 1 dan od primitka računa ili u slučaju gotovinskog plaćanja, u trenutku vraćanja vozila kao sto je dogovoreno na strani 1 Ugovora o najmu: vrijeme, kilometražu, i druge troškove dogovorene Ugovorom o najmu. Iznos se plaća u skladu s tarifom na snazi u vrijeme potpisivanja Ugovora. U slučaju kašnjenja s plaćanjem, naplaćuje se zakonska zatezna kamata i troškovi opomena. U slučaju da se vozilo vrati u lokaciju različitu od one gdje je preuzeto, konačni obračun koji napravi lokacija gdje je vozilo vraćeno podliježe odobrenju lokacije koja je izdala vozilo i koja zadržava pravo da pošalje ispravljeni račun. Potpisivanjem ovog Ugovora , “Korisnik” pristaje da, na teret njegove kreditne kartice ili nekim drugim načinom plaćanja, “DŽAS” naplati sve troškove popravka, kvarova ili gubitka koji su otkriveni nakon sto je vozilo vraćeno, a “Korisnik” nije o tome izvijestio DŽAS u skladu s procedurom o povratu vozila. “Korisnik” se smatra odgovornim za sve prometne prekršaje počinjene za vrijeme najma. U slučaju da “Korisnik” te kazne ne plati, “DŽAS” će ih naplatiti ” korisniku “, zajedno sa administrativnim troškovima. “DŽAS” zadržava pravo da naplati gore navedene troškove bez da prethodno obavijesti iznajmljivača. Državni porezi, takse i sl. će se naplatiti sukladno važećoj zakonskoj regulativi. “Korisnik” svojim potpisom na ovom ugovoru podrazumijeva tj. prihvaća da su obveznici odgovorni za plaćanje svih stavki ovog ugovora o najmu:

                                    1. – Unajmljivač;
                                    2. – vozač – za slučaj da unajmljivač odbija u cijelosti ili dijelom platiti obvezu po ovom ugovoru o najmu vozila;
                                    3. – dodatni vozač – za slučaj da unajmljivač il vozač odbiju u cijelosti ili dijelom platiti obvezu po ovom ugovoru o najmu vozila.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">4. Produženje najma</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">
                                    Kada unajmljivač želi produljiti najam, o tome mora 1 dan unaprijed obavijestiti poslovnicu koja je vozilo izdala. U slučaju neispunjavanja ovog uvjeta, smatra se da je unajmljivač protupravno prisvojio vozilo, te ga je DŽAS dužan prijaviti tužilaštvu. U slučaju kada unajmljivač vrati vozilo poslije datuma navedenog prilikom sklapanja ugovora o najmu, a u toku najma je došlo do promjene cijena, zaračunavaju se nove cijene od dana predviđenog vraćanja vozila.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">5. Kilometraža</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">
                                    Broj kilometara dok se vozilo nalazi u najmu dogovorenom ovim Ugovorom o najmu, odredit će se očitavanjem tvornički instaliranog odometra.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">6.</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">U slučaju da se na završetku najma ustanovi da je odometar prepravljen tijekom najma, ” korisniku ” će se naplatiti dodatnih 500km za svaki dan najma po cijeni prema važećoj tarifi. “Korisnik” se obavezuje vratiti vozilo, zajedno sa svim gumama, opremom, audio i ostalom dodatnom opremom, u istom stanju kao i pri preuzimanju , na točno mjesto i vrijeme navedeno na strani 1 Ugovora o najmu. Ako je, iz bilo kojeg razloga, potrebno posebno čišćenje vozila, “DŽAS” će to posebno naplatiti kako bi pokrio trošak bilo kakvog potrebnog čišćenja i / ili popravka. </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">7. Gorivo</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">
                                    Sva vozila se izdaju sa punim spremnikom goriva. Ako se vozilo iznajmi “korisnik-u”, “korisnik” se smatra odgovornim za trošak goriva od vremena kad vozilo napusti “DŽAS-ovu” poslovnicu do vremena kad se vozilo vrati u “DŽAS-ovu” poslovnicu. Sva vozila će se po povratku u “DŽAS-ovu” poslovnicu natankirati po važećoj “DŽAS-ovoj” tarifi. “DŽAS” zadržava pravo zaračunavanja usluge punjenja goriva prema odluci Uprave.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">8. Održavanje vozila</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> “Korisnik” pristaje održavati vozilo u dobrom stanju i redovito provjeravati motor i ulje automatskog mjenjača, ako postoji u iznajmljenom vozilu, kao i vodu u radijatoru, akumulatoru i pritisak u gumama. Ulje motora se mora mijenjati svakih 5000 km. “Korisnik” se smatra odgovornim za podmirivanje sve štete uzrokovane nedovoljnim održavanjem vozila. U slučaju da iznajmljeno vozilo za vrijeme najma dostigne kilometražu na kojoj je predviđen redovni servis, “Korisnik” mora obavijestiti “DŽAS” i staviti vozilo na raspolaganje “DŽAS-u” kako bi bilo moguće obaviti servis ili dati “korisnik-u” zamjensko vozilo.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">9. Kvarovi</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> Popravci ili zamjene dijelova vozila moraju se obavljati samo kod ovlaštenog zastupnika uz prethodno pismeno odobrenje “DŽAS-a”. Povrat troškova se vrši uz predočenje računa ovlaštene radionice koja je obavila popravak, međutim, zamjenski dijelovi se moraju obavezno predočiti. U slučaju da se popravak obavi van ovlaštene radionice, a zamjenski dijelovi nisu predočeni, troškovi se neće refundirati. U slučaju da se bilo koji dio vozila zamjeni ili izgubi, naplatit će se odšteta u iznosu trostruke tržišne cijene tog dijela.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">10. Dokumenti</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> Sva vozila se iznajmljuju sa potrebnim dokumentima. “Korisnik” se drűi odgovornim za navedene dokumente. U slučaju da iznajmljivač izgubi dokumente, ključeve, registracijske pločice i sl. “korisnik” će se dodatno teretiti i bit će obavezan podmiriti sve troškove. </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">11. Osiguranje putnika</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> Za dodatnu dnevnu nadoplatu, iznos koje se određuje po važećoj tarifi, putnici su osigurani do iznosa police osiguranja u slučaju smrti ili onesposobljenosti kao posljedice nezgode uzrokovane “DŽAS-ovim” vozilom. </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">12. Osiguranje vozila</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">
                                    Sva vozila nad kojima DŽAS ima pravo raspolaganja su osigurana protiv odgovornosti za štetu prouzroćeno trećoj osobi. Odbitna franšiza ovisi o grupi vozila i određena je vaűećom tarifom po odluci Uprave DŽAS i navedena je na ugovoru. U slučaju bilo kakve štete za koju je odgovoran korisnik ili u slučaju štete uzrokovane korisnikovim nepoznavanjem jednog ili više uvjeta o najmu, korisnik je dužan podmiriti štetu do punog iznosa vrijednosti vozila, osim u slućaju da se odgovornost otkupi dnevnom nadoplatom odrećenom po vrijedećoj tarifi DŽAS. Osiguranje u nikojem slučaju ne pokriva:

                                    – štetu na gumama
                                    – štetu na donjem postroju vozila, mjenjaču i spojki, unutrašnjosti vozila i vjetrobranu uzrokovanu nemarom voza?a
                                    – štetu na motoru uzrokovanu nedostatkom ulja, ulivanjem krive vrste goriva ili nemarnom korištenju vozila
                                    – štetu koju je napravio vozač pod utjecajem alkohola, droge ili sl. opojnih sredstava
                                    – štetu koju je napravio neovlašteni vozač
                                    – bilo koje oštečenje na vozilu koje nije prijavljeno nadležnoj policijskoj postaji

                                    Korisnik se drži odgovornim za sva navedena oštećenja. DŽAS neće prihvatiti nikakvu odgovornost za štetu ili gubitak nastao dok je vozilo bilo u najmu kod korisnik-a koji nije ispunjavao ovdje navedene uvjete, korisnik se obavezuje podmiriti svu štetu ( izgubljenu dobit ) DŽAS-u za vrijeme dok isti nije bio u mogućnosti koristiti navedeno vozilo.
                                </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">13. Požar ili krađa</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">  “Korisnik” preuzima odgovornost za bilo kakvi gubitak ili štetu na vozilu nastalu njegovim svojevoljnim činom ili nemarom ili u slučaju da je “Korisnik” na bilo koji način ignorirao uvjete naznačene u ugovoru. Izbjegavanje plaćanja odgovornosti za cijelu vrijednost vozila pridobija “Korisnik” plaćanjem dnevnog dodatka za svakih 24 sata upotrebe vozila unaprijed, po važećem cjeniku te tako snosi odgovornost do visine ugovorne franšize. Visina odbitne franšize ovisi o grupi vozila.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">14. Oštećenja</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> Svako oštećenje se odmah mora prijaviti najbližoj policijskoj postaji i poslovnici “DŽAS-a” koja je iznajmila vozilo i “Korisnik” se obvezuje ne voziti dok je vozilo u nevoznom stanju. Izvještaj – posebni obrazac, koji se nalazi sa dokumentima vozila, te svoju izjavu o oštećenju mora se popuniti sa svim detaljima o nezgodi (oštećenju) i mora se odmah poslati u “DŽAS-ovu” poslovnicu koja je iznajmila vozilo. “Korisnik” je dužan surađivati s “DŽAS-om” u istrazi i postupku obrade nezgode. “Korisnik” se smatra odgovornim za sve troškove ako se nisu poštovali uvjeti iz ovog članka. Ako bude nužno, “Korisnik” će dobiti zamjensko vozilo.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">15. Gubitak imovine</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">  “DŽAS” se ne smatra odgovornim za štetu ili gubitak imovine ” korisnika ” ili imovinu ostalih osoba, pohranjenu ili prevoženu u ili na iznajmljenom vozilu, servisnom vozilu ili poslovnim prostorijama “DŽAS-a”. Potpisivanjem ovog ugovora, “Korisnik” se izričito odriče svakog zahtjeva za odštetom od strane “DŽAS-a” u slučaju gore navedene štete ili gubitka.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">16. Promjene ugovora o najmu</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">Niti jedan uvjet i odredba ovog ugovora ne moze se mijenjati ili odbaciti bez pismene suglasonsti “DŽAS-a”. </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">17.</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';"> Svi “DŽAS-ovi” zaposlenici imaju pravo kontrolirati bilo koje vozilo u bilo koje vrijeme. Ako se ustanovi da je “Korisnik” prekršio bilo koji od uvjeta ovog Ugovora , zaposlenici “DŽAS-a” su ovlašteni oduzeti vozilo. “DŽAS” bezuvijetno zadržava pravo raskida ugovora o najmu, bilo kada i bilo gdje i prije isteka ugovora o najmu, bez ikakve obaveze da je duzan nadoknaditi štetu “korisniku”.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">18. Važno! </label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">Unajmljivač odgovara za prometne prekršaje nastale u toku najma i poslije završenog najma. </p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">19.</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">  U ovim uvjetima DŽAS Car Rental je definiran kao DŽAS d.o.o. sa sjedištem u Sarajevu Džemala Bijedića 185, čija je poslovna djelatnost iznajmljivanje vozila.</p>
                                <br />
                                <br />

                                <label style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">20.</label>
                                <br />
                                <p style="font-size: 12px; margin-left: 10px; text-align: justify; font-family: Georgia';">Korisnik svojim potpisom bezuvjetno prihvaća DŽAS-ove standardne uvjete te jamči tačnost svih gore navedenih podataka i prihvaća nadležnost suda u Sarajevu-u za slućaj sudskog spora.</p>
                                <br />
                                <br />


                                <p style="font-size: 14px; font-weight: bold; margin-left: 10px; text-align: justify; font-family: Georgia';">

                                    VAŽNO!
                                    <br />
                                    <br />
                                    U SLUČAJU KVARA VOZILA U INOZEMSTVU, IZNAJMLJIVAČ JE OBVEZAN KONTAKTIRATI DŽAS-OVU POSLOVNICU U BiH RADI POPRAVKA. DŽAS ĆE REFUNDIRATI TROŠAK POPRAVKA PO PREDOČENJU ORIGINALNOG RAČUNA OVLAŠTENOG SERVISA I DIJELA VOZILA KOJI JE ZAMIJENJEN ZBOG KVARA.
                                    <br />
                                    <br />
                                    PRI PRELASKU DRŽAVNE GRANICE KORISNIK JE OBVEZAN PREDOČITI CARINSKOM SLUŽBENIKU RAČUN NA OVJERU.
                                </p>
                                <br />



                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    &copy; 2016 <a style="font-family = Georgia';">Dženana Bričić, Sabina Grošić, Aida Hasović</a>
                </p>
            </div>
        </footer>
    </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="Scripts/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="Scripts/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="Scripts/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="Scripts/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="Scripts/demo.js"></script>

</html>

